/* Reset */

.posts-form__input:focus {
    outline: none;
}


/* Stylization */

.posts-form__btn {
    min-width: 100px;
}


/* Grids */

.posts-form__form {
    display: flex;
    flex-wrap: wrap;
}

.posts-form__input {
    flex-grow: 1;
    margin-right: 20px;
}