/* Reset */

.posts-list__heading,
.actions-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.actions-list__btn {
    border: none;
    background: none;
    padding: 0;
}

.actions-list__btn:focus {
    outline: none;
}


/* Stylization */

.posts-list__item {
    border: 1px solid #ccc5c5;
    border-radius: 5px;
    padding: 20px 30px;
    background-color: #fff;
}

.posts-list__heading {
    font-size: 18px;
    color: #565050;
}

.posts-list__item_important .posts-list__heading {
    color: #e8d91a;
}

.actions-list__btn {
    cursor: pointer;
}

.posts-list__item .fa-star path {
    fill: #9c9595;
}

.posts-list__item_important .fa-star path {
    fill: #ffeb3b;
}

.posts-list__item .fa-trash path {
    fill: #e44949;
}

.posts-list__item .fa-heart path {
    fill: #e00a0a;
}


/* Grids */

.actions-list,
.posts-list__item {
    display: flex;
    flex-wrap: wrap;
}

.posts-list__item {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.actions-list__item {
    margin-right: 15px;
}

.actions-list__item:last-child {
    margin-right: 0;
}