/* Reset */

.search-panel__input {
    margin: 0;
    padding: 0;
    border: none;
}


/* Stylization */

.search-panel__input {
    color: #5d5252;
    border: 1px solid rgb(204, 197, 197);
    border-radius: 5px;
}

.search-panel__input::placeholder {
    color: rgb(167, 161, 161);
}

.search-panel__input:hover {
    border-color: rgb(107, 105, 105);
}

.search-panel__input:focus,
.search-panel__input:active {
    outline: none;
    border-color: #1a1919;
}


/* Grids */

.search-panel__input {
    width: 100%;
    padding: 10px 0 10px 15px;
}